@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<div class="animate__animated animate__fadeInDown">


    <div class="text-center"><i class="fas fa-users text-center"></i></div>
    <div class="text-right"><a href="/Home/Save" class="btn btn-dark">Nueva Persona</a></div>
    <table class="table" id="mitabla">

        <thead class="table-dark">

            <tr>

                <td>ID</td>
                <td>Nombre</td>
                <td>Edad</td>
                <td>Descripcion</td>
            </tr>
        </thead>
    </table>
</div>

    @section scripts{
        <script src="https://kit.fontawesome.com/c7b6e5d378.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                var tabla = $('#mitabla').DataTable({
                    "ajax": {
                        "url": '/Home/GetAll',
                        "type": "get",
                        "datatype": "json"

                    },
                    "columns": [
                        
                        { "data": "idPersona", "name": "idPersona", "autoWidth": true },
                        { "data": "nombrePersona", "name": "nombrePersona", "autoWidth": true },
                        { "data": "edadPersona", "name": "edadPersona", "autoWidth": true },
                        { "data": "descripcionPersona", "name": "descripcionPersona", "autoWidth": true }
                    ]
                })

            }
            )
        </script>
    }

